<div>
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

      <%= f.email_field :email, :placeholder => t('.email') %>

    <div><%= f.submit t('devise.confirmation.new.resend_confirmation_instructions') %></div>
  <% end %>
</div>
<p>
  <%= link_to t('devise.registrations.new.sign_in'), new_session_path(resource_name)%>