<h1>
  <%= t('devise.sessions.new.login') %>
</h1>
<div>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= devise_error_messages! %></div>
    <div><%= f.email_field :email, :placeholder => t('devise.confirmation.new.email') %></div>
    <br>
    <div><%= f.password_field :password, :placeholder => t('devise.registrations.new.password') %></div>
    <br>
    <div>
      <%= f.submit t('devise.registrations.new.sign_in'), :class => "btn" %>
    </div>
  <% end %>
</div>
<p>
  <%= link_to t('devise.sessions.new.forgot'), new_password_path(resource_name) %>
</p>


