<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, :placeholder => 'Email' %></div>
  <br>
  <div><%= f.password_field :password, :placeholder => 'Password' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => 'style_new_sessions' %></div>
  <% end -%>

  <div>
    <%= link_to "Sign up", new_registration_path(resource_name), :class => 'style_new_sessions' , :id => 'sign_up'%>
    <%= f.submit "Go" %>
  </div>
<% end %>

