<p class="top_login">
  <%= t('.login') %>
</p>
<div class="mlogin">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= devise_error_messages! %></div>
    <div><%= f.email_field :email, :placeholder => t('.email') %></div>
    <br>
    <div><%= f.password_field :password, :placeholder => t('.password') %></div>
    <br>
    <div>
      <%= f.submit t('.sign_in'), :class => "btn" %>
    </div>
  <% end %>
</div>
<p class="futer-login">
  <%= link_to t('.sign_up'), new_registration_path(resource_name)%><br>
  <%= link_to t('.forgot'), new_password_path(resource_name) %>
</p>

<%= link_to t('.login_with_facebook'), user_omniauth_authorize_path(:facebook), class: "btn btn-mini btn-primary" %>
<%= link_to t('.login_with_vkontakte'), user_omniauth_authorize_path(:vkontakte), class: "btn btn btn-mini btn-primary" %>


