<!DOCTYPE html>
<html>
<head>
  <title>Net</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='main-div'>
  <div class='avatar'>
    <%= image_tag(current_user.avatar.url(:medium)) if current_user.avatar? %>
  </div>
  <div class="user-profile">
    <ul id="user-menu">
      <li><%= link_to 'Profile', edit_user_profile_path(current_user.id) %></li>
      <li>Friends</li>
    </ul>
  </div>

  <div class="logout">
    <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
  </div>

  <div class="yield">
    <%= yield %>
  </div>
</div>



</body>
</html>
