<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    "login" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mlogo">
    <%= link_to image_tag('mlogo.png'), new_session_path(resource_name)%>
  </div>
  <div>
    <p class="sign_up">

    </p>
  </div>
  <div id="logdiv">
    <%= yield %>
  </div>
</body>
</html>

