<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    "login" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="mlogo">
  <%= image_tag('mlogo.png') %>
</div>
<div>
  <p class="sign_up">
    <%= link_to "Sign up", new_registration_path(resource_name), :class => 'style_new_sessions' , :id => 'sign_up'%>
  </p>
</div>
<div id="logdiv">
    	<%= yield %>
</div>
</body>
</html>
